// app global css in SCSS form


/* Alignment of the table values */
.q-table td, .q-table th {
    /* don't shorten cell contents */
    white-space: normal !important;
}

td,.q-px-none {
    padding-right: 4 !important;
    padding-left: 0 !important;
}

.q-menu {
    height: 200px;
}